body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: radial-gradient(circle, #fff5e1, #e0c3fc);
    background-color: #f9f9f9;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: radial-gradient(circle, #fff5e1, #e0c3fc);
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: -20px; 
    right: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.about, .mission, .testimonials, .cta {
    background: white;
    padding: 40px;
    width: 60%;
    margin: 30px auto;
    border-radius: 10px;
}

.about img {
    display: block;
    margin: 0 auto; /* Centers the image */
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.3), transparent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.5);
   
}


footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.cart {
    font-size: 24px;
}